body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  #container-input {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
   
  }

  .btn-add {
    padding-top: 30px;
    position: fixed left;
  }

  input#btn {
    margin-top: 10px;
    border: none;
    font-size: 18px;
    background-color: rgb(218, 41, 41);
    color: white;
    font-weight: bold;
    padding: 5px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    
  }

  input#btn:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
    transition: .1ms;
    
}

  #legenda {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    color: white;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }
  